.mainPage {
  width: 96vw;
  height: 98vh;
  margin: 1% 2%;
  box-shadow: 2px 2px 4px #333;
}

.topPage {
  display: flex;
  width: 100%;
  height: 49%;
}

.image1 {
  width: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}

.image2 {
  width: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}

.bottomPage {
  display: flex;
  width: 100%;
  height: 49%;
}

.rescueSlogan {
  position: absolute;
  top: 56px;
  margin-left: 10px;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  font-family: 'Poppins', sans-serif;
  background: #2e5c7c;
  border: 1px solid #fff;
  padding: 4px 12px;
  border-radius: 4px;
  /* box-shadow: 1px 1px 3px #000; */
}

.splashHeader {
  color: #fbff8e;
  font-size: 44px;
  text-shadow: 4px 4px 9px #000;
  font-family: 'Poppins', sans-serif;
}

.splashLogo {
  width: 50px;
  margin-top: 5px;
}

.splashInfoBox {
  position: absolute;
  margin-left: 20px;
  margin-top: -10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.splashButton {
  position: absolute;
  margin-top: -25px;
  margin-left: -125px;
  padding: 5px 10px 10px 10px;
  width: 250px;
  font-size: 26px;
  font-family: 'Oswald', sans-serif;
  background: #2e5c7c;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.splashButton:hover {
  background: #0b2d44;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: none;
}

.footer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85px;
  background: #2e5c7c;
  box-shadow: 3px 3px 6px #333;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 1200px) {
  .rescueSlogan {
    top: 70px;
  }
}
