.petPage {
  min-width: 96%;
  min-height: 98vh;
  margin: 1% 2%;
  border-radius: 6px;
  box-shadow: 3px 3px 6px #333;
  background: #d5eae8;
  padding-bottom: 15px;
  padding-top: 2px;
}

.petpage-name {
  font-family: 'Poppins', sans-serif;
}

.petpage-photo {
  width: 300px;
  box-shadow: 2px 2px 4px #111;
  margin-bottom: 15px;
}

.petpage-description {
  width: 65%;
  text-align: center;
  margin: 5px auto;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.demo {
  padding: 15px;
  border: 1px solid #000;
}
